<div class="register-container">
  <div class="register-card">
    <h1 class="register-title">Crie sua Conta</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Campo Nome -->
      <div class="form-group">
        <label for="name">Nome</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          placeholder="Digite seu nome"
        />
        <div class="error-message" *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
          O nome é obrigatório.
        </div>
      </div>

      <!-- Campo E-mail -->
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Digite seu e-mail"
        />
        <div class="error-message" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
          Insira um e-mail válido.
        </div>
      </div>

      <!-- Campo Senha -->
      <div class="form-group">
        <label for="password">Senha</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Digite sua senha"
        />
        <div class="error-message" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
          A senha deve ter pelo menos 6 caracteres.
        </div>
      </div>

      <!-- Botão Registrar -->
      <button type="submit" class="register-button" [disabled]="registerForm.invalid">
        Registrar
      </button>
    </form>
    <p class="login-link">
      Já possui uma conta? <a (click)="navigateToLogin()">Faça login</a>
    </p>
  </div>
</div>
